:root{
    --primary-soft-yellow:#e6db6c;
    --primary-dark-orange:   #e68a00;
    --primary-hover-orange :#ff3300;
    --primary-text-black :#212120;
    --primary-dirt-white :#F9FBFF;
    --primary-eggy-white:#fffeed;
}

#sustainable-growth{
    text-align: center;
}
#sustainable-growth img{
    padding:16px;
    align-items: center;
    justify-content: center;
}
.sustainable-p{
    padding: 16px;
}
.sustainable-h1{
    padding: 16px;
}

.global-host{
    text-align: center;
}

.global-host-benefit{
    color:var(--primary-dark-orange);
    font-size:larger;
    font-weight: bold;
}